<h1>本の登録完了</h1><% @title = "本の登録完了" %>

<% if @message.blank? %>
<p>発送処理を完了しました。到着のお知らせと相手からの評価で1ブクが届きます。</p>

<p><%= link_to "交換一覧へ", "/collections/list" %></p>
<% else %>
<p>
	<span class="warn"><%= @message %></span>
</p>
<p>
	<%= link_back %>
</p>
<% end %>
