<h1>交換一覧</h1><% @title = "交換一覧" %>

<div class="request_list">
	<dl>
		<dt class="larger">申請されている本</dt>
		<dd>
			<% @collections = @requested_collections %>
			<% if @collections.empty? %>
				申請されている本はありません。
			<% else %>
				<%= render 'list' %>
			<% end %>
		</dd>
	</dl>
	<dl>
		<dt class="larger">発送した本</dt>
		<dd>
			<% @collections = @completed_collections %>
			<% if @collections.empty? %>
				発送した本はありません。
			<% else %>
				<%= render 'list' %>
			<% end %>
		</dd>
	</dl>
</div>

<div class="request_list">
	<dl>
		<dt class="larger">申請している本</dt>
		<dd>
			<% @collections = @requesting_collections %>
			<% if @collections.empty? %>
				申請している本はありません。
			<% else %>
				<%= render 'list' %>
			<% end %>
		</dd>
	</dl>
	<dl>
		<dt class="larger">発送された本</dt>
		<dd>
			<% @collections = @received_collections %>
			<% if @collections.empty? %>
				発送された本はありません。
			<% else %>
				<%= render 'list' %>
			<% end %>
		</dd>
	</dl>
</div>
<% session[:return_path] = Array[request.fullpath] %>
