<h1>本の登録</h1><% @title = "本の登録" %>

<p>本をホンダナへ登録します。</p>

  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <p>入力エラーです。以下を確認してください。</p>
      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li class="warn"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "/books/show" %>
<% @action = "confirm" %>
<% @submit = "登録確認" %>
<%= render "edit" %>

<p>
	<%= link_back %>
</p>
