@CHARSET "utf-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	font-family: "メイリオ", sans-serif;
}
body {
	width: 960px;
	margin: 0 auto;
	background-image: url("/images/paper.png");
	color: #503D2E;
	font-style: normal;
}
a, a:link, a:visited, a:hover, a:active {
	color: #503DEC;
	text-decoration: underline;
}
#head {
	width: 960px;
	height: 100px;
	background-color: #FEFEEB;
	background-image: url("/images/paper.png");
}
#head_image {
	float: left;
	width: 260px;
	height: 100px;
}
#head_right {
	float: right;
	width: 280px;
	height: 40px;
	margin: 5px 10px;
	text-align: right;
}
#navigate {
	float: left;
	margin: 0 auto;
}
#navigate .box {
	float: left;
	width: 200px;
	height: 30px;
	margin: 7px 0;
}
#search_bar {
	clear: both;
	padding: 5px;
	width: 690px;
	height: 40px;
}
#search_bar p {
	height: 35px;
}
input#search_box {
	width: 530px;
	height: 30px;
}
#member_nav {
	clear: both;
	width: 960px;
	height: 40px;
}
#member_nav p {
	float: left;
	height: 40px;
	width: 320px;
}
#main {
	clear: both;
	padding: 10px;
	min-height: 390px;
	height: auto !important;
	height: 390px;
	background-color: #FEFEEB;
	background-image: url("/images/paper.png");
}
#foot {
	clear: both;
	height: 160px;
	width: 960px;
	background-image: url("/images/footer_bg.png");
}
#foot div {
	float: left;
	height: 150px;
	width: 279px;
	padding: 5px 0px;
}
#foot > div:not(:first-child) {
	border-left: 1px solid #FEFEEB;
}
#foot p {
	text-indent: 1.5em;
	color: #FEFEEB;
}
#foot a:link, #foot a:visited {
	color: #FEFEEB;
}
#foot a:hover {
	color: #FEFEEB;
	text-decoration: underline;
}
