@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
/* line 14, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-family: "メイリオ", sans-serif;
  word-wrap: break-word;
}

/* line 23, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
body {
  background-color: #F7F5E8;
  background-image: url("/images/paper.png");
  color: #503D2E;
}

/* line 29, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
a {
  color: #503DEC;
}
/* line 31, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
a:hover {
  opacity: 0.6;
}

/* line 36, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
table {
  border-collapse: collapse;
}

/* line 40, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
time {
  margin-right: 1em;
  font-weight: bold;
}

/* line 45, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.center {
  text-align: center;
}

/* line 48, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.right {
  text-align: right;
}

/* line 51, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.nowrap {
  white-space: nowrap;
}

/* line 54, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.strong {
  font-weight: bold;
}

/* line 57, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.small {
  font-size: smaller;
}

/* line 60, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.larger {
  font-size: x-large;
}

/* line 63, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.large {
  font-size: 200%;
}

/* line 66, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.warn {
  color: #D54B1A;
}

/* line 69, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
.info {
  color: #335DE2;
}

/* line 73, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#head {
  width: 960px;
  height: 100px;
  margin: 10px auto;
}
/* line 77, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#head h1 {
  float: left;
}
/* line 80, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#head #navigate {
  float: left;
}
/* line 82, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#head #navigate .button {
  float: left;
  width: 200px;
  height: 30px;
  margin: 7px 0;
}
/* line 88, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#head #navigate #welcome {
  float: right;
  width: 280px;
  height: 40px;
  margin: 5px 0 5px 10px;
}
/* line 95, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#head #search {
  clear: both;
  padding: 10px 0 10px 8px;
  width: 690px;
  height: 40px;
}
/* line 100, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#head #search #keyword {
  width: 530px;
  height: 30px;
  padding-left: 2px;
}

/* line 108, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#menu {
  clear: both;
  width: 960px;
  height: 40px;
  margin: 0 auto;
}
/* line 113, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#menu p {
  float: left;
}

/* line 118, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#footer {
  clear: both;
  width: 960px;
  height: 160px;
  margin: 0 auto;
  background-image: url("/images/footer_bg.png");
}
/* line 124, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#footer div {
  float: left;
  width: 319px;
  height: 150px;
  padding: 5px 0px;
}
/* line 129, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#footer div p {
  text-indent: 1.5em;
}
/* line 132, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#footer div a {
  color: #FEFEEB;
}
/* line 135, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#footer div:not(:first-child) {
  border-left: 1px solid #FEFEEB;
}

/* line 141, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main {
  clear: both;
  width: 960px;
  min-height: 390px;
  height: auto !important;
  height: 390px;
  margin: 0 auto;
  padding: 10px 2px 20px;
}
/* line 149, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main h1 {
  border: 2px solid #CCCCCC;
  border-left-width: 10px;
  padding: 5px;
  font-size: 22px;
}
/* line 155, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main p {
  margin: 16px;
}
/* line 158, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main table.list {
  width: 928px;
  margin: 12px 16px;
}
/* line 161, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main table.list td, #main table.list th {
  border: 1px solid #333333;
  padding: 2px;
}
/* line 165, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main table.list th {
  background-color: #EEEEEE;
}
/* line 169, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist {
  width: 448px;
}
/* line 171, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist div {
  float: left;
}
/* line 173, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist div img {
  margin: 15px;
  width: 120px;
}
/* line 177, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist div p {
  width: 278px;
  margin: 40px 10px;
}
/* line 183, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist_wide {
  width: 928px;
  height: 330px;
  margin: 12px 16px;
}
/* line 187, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist_wide div {
  float: left;
  width: 180px;
  height: 330px;
  text-align: center;
  overflow: hidden;
}
/* line 191, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist_wide div:not(:first-child) {
  margin-left: 7px;
}
/* line 196, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.booklist_wide div img {
  margin: 15px;
  width: 120px;
}
/* line 202, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.book_img {
  float: left;
}
/* line 204, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.book_img img {
  width: 240px;
}
/* line 208, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main div.book {
  float: left;
  width: 680px;
}
/* line 212, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main p.detail {
  text-indent: 2em;
}
/* line 215, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main form {
  clear: both;
}
/* line 218, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .required:after {
  color: #D54B1A;
  content: "【必須】";
}
/* line 222, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .new:after {
  color: #D54B1A;
  content: "【NEW!】";
}
/* line 226, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .field {
  margin: 16px;
}
/* line 228, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .field label:not(.normal) {
  font-weight: bold;
}
/* line 231, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .field p {
  margin: 4px;
  margin-left: 40px;
}
/* line 236, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .field .field_with_errors input, #main .field .field_with_errors select, #main .field .field_with_errors textarea {
  background-color: #F3BEB9;
}
/* line 241, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #error_explanation {
  font-weight: bold;
}
/* line 243, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #error_explanation ul {
  list-style-type: none;
  margin: 4px;
  margin-left: 56px;
  font-weight: bold;
}
/* line 250, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #mypage_left {
  float: left;
  margin: 16px 0;
  border-right: 1px dotted #333333;
}
/* line 254, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #mypage_left #collection_summary_area {
  width: 447px;
  height: 168px;
  margin: 0 16px;
  border-bottom: 1px dotted #333333;
}
/* line 261, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #mypage_right {
  float: left;
  margin: 16px 0;
}
/* line 264, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #mypage_right #point_summary_area {
  width: 448px;
  height: 168px;
  margin: 0 16px;
  border-bottom: 1px dotted #333333;
}
/* line 271, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #collection_area, #main #point_area {
  width: 447px;
  margin: 16px;
}
/* line 274, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #collection_area dl, #main #point_area dl {
  margin-bottom: 10px;
}
/* line 276, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #collection_area dl dd, #main #point_area dl dd {
  margin-left: 20px;
}
/* line 281, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .request_list {
  float: left;
  width: 448px;
  margin: 16px;
}
/* line 285, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .request_list dl {
  margin-bottom: 10px;
}
/* line 287, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main .request_list dl dd {
  margin-left: 20px;
}
/* line 292, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #term {
  width: 928px;
  height: 390px;
  margin: 12px 16px;
  border: 1px solid #333333;
  overflow: auto;
}
/* line 299, C:/Users/fujii/git/spica_hondana/app/assets/stylesheets/application.css.scss */
#main #term_smartly {
  width: 600px;
  height: 230px;
  margin: 12px auto;
  border: 1px solid #333333;
  overflow: auto;
}
