<h1>ホンダナって？</h1><% @title = "ホンダナって？" %>
<div id="outline">
  <p class="gaiyo"><strong class="top_gaiyo">「読んだ本」を「読みたい本」に交換できる本の交換プラットフォームです
  </strong></p>
    <div class="imagebox">
    <p class="caption">
    <p class="chapter">&#10102;読んだ本を登録
    </p>
    <p class="image">
    <%= (image_tag 'inst01.gif', alt: 'インストラクション1')  %>
    </p>
    <p class="caption">
    登録すると1冊につき1ブクがもらえる
    </p>
    </div>

    <div class="imagebox">
    <p class="caption">
    <p class="chapter">&#10103;交換申請
    </p>
    <p class="image">
    <%= (image_tag 'inst02.gif', alt: 'インストラクション2')  %>
    </p>
    <p class="caption">
    ほしい本を見つけたら<br>持ち主にブクとの交換申請
    </p>
    </div>

    <div class="imagebox">
    <p class="caption">
    <p class="chapter">&#10104;本を受け取る
    </p>
    <p class="image">
    <%= (image_tag 'inst03.gif', alt: 'インストラクション3')  %>
    </p>
    <p class="caption">
    2~３日で自宅のポストに本が届く
    </p>
    </div>
  <p class="clearLeft"></p>
</div>

