<h1>管理者メニュー</h1><% @title = "管理者メニュー" %>

<p><%= link_to "お知らせ管理", notices_path %></p>

<p><%= link_to "ジャンル管理", genres_path %></p>

<p><%= link_to "書籍管理", books_path %></p>

<p><%= link_to "会員管理", members_path %></p>

