<h1 id="index">ホンダナの禁止行為について</h1><% @title = "ホンダナの禁止行為について" %>

<h3>【本の取引】</h3>
<p>・ホンダナでの決済を使用しない直接取引やそれに勧誘する行為</p>
<p>・キャンセル料、取り置き料の強要</p>
<p>・商品代金の分割支払いを求める行為</p>
<p>・住所を記載しないで発送する行為</p>
<p>・商品の送付先を郵便局(営業所)留めにする行為</p>
<p>・成立した取引の履行を遅延させる行為</p>
<p>・成立した取引の円滑な履行を妨げる行為</p>
<br><br>
<h3>【本の登録】</h3>
<p>・実物でない情報の投稿(宣伝・探し物)</p>
<p>・写真が実物を撮影したものではない</p>
<p>・本の内容を把握できない説明の記載</p>
<p>・検索用キーワードを羅列した商品説明の記載</p>
<p>・福袋(中身のわからないセット販売)</p>
<p>・発送するつもりのない本を出品する行為</p>
<p>・虚偽の設定、無関係なカテゴリの設定</p>
<p>・手元にない本の出品</p>
<p>・不正確または誤解を招く説明や情報を提供することにより取引をもちかける行為</p>
<br><br>
<h3>【外部への誘導】</h3>
<p>・メールアドレス、Twitter、mixi、LINEのIDなど外部連絡先の記載</p>
<p>・他サイトへの誘導</p>
<p>・事務局で不健全と判断したサイトへの誘導</p>
<br><br>
<h3>【その他】</h3>
<p>・誹謗中傷や脅迫行為</p>
<p>・募金を集める行為</p>
<p>・荒らし行為</p>
<p>・著作権の侵害</p>
<p>・わいせつな行為</p>
<p>・スパム行為</p>
<p>・虚偽の情報の記載</p>
<p>・出会いを目的とする行為</p>
<p>・本規約に違反する行為</p>
<p>・ホンダナが定める取引の手続に従わない行為</p>
<p>・法令上必要とされる許可、認可、登録、届出等を備えずに取引する行為、または営業停止中に取引する行為</p>
<p>・スピカ旅行社(以下当社)、他の会員または第三者の所有権、知的財産権、肖像権、パブリシティー権等の正当な権利を侵害する行為</p>
<p>・当社、他の会員または第三者に不利益、損害を与える行為</p>
<p>・当社または第三者の商標、ロゴ、サービスマーク等を、自己を表示するものとして使用する行為</p>
<p>・当社の承諾を得ていない営利活動、営業活動、宣伝広報活動にホンダナを利用する行為（ホンダナ内での商品の販売行為は除きます）</p>
<p>・マネー・ロンダリングを目的とした行為</p>
<p>・当社または第三者になりすます行為、または当社または第三者の行為であると誤解を招く行為</p>
<p>・特定の購入者のために商品を取り置く行為</p>
<p>・公序良俗に反する行為</p>
<p>・法律、法令、判例、行政措置等に違反する行為</p>
<p>・ホンダナの全部または一部（コンテンツ、情報、情報の集合体、システム構成または個別プログラムソースを含むがこれらに限られない）を、転用、転売、送信、頒布、使用、複写、複製、翻訳、翻案、貸与等いかなる手法によるかを問わず、商業目的で利用する行為</p>
<p>・当社の承認がないにも関わらず、ホンダナに関連して営利を目的とする行為</p>
<p>・ホンダナの運営を妨害する行為</p>
<p>・当社、第三者またはホンダナの信用を失墜、毀損させる行為</p>
<p>・複数のアカウントを取得・利用する行為</p>
<p>・不正にホンダナを利用する行為</p>
<p>・親権者の包括的な同意を得ていない未成年者にホンダナ利用を促す行為</p>
<p>・不正にホンダナのポイント（＝ブク）を取得する行為</p>
<p>・過度に暴力的な表現、露骨な性的表現を投稿または発信する行為</p>
<p>・人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現を投稿または発信する行為</p>
<p>・自殺、自傷行為、薬物乱用を誘引または助長する表現を投稿または発信する行為</p>
<p>・他人に不快感を与える表現を投稿または発信する行為</p>
<p>・暴力または脅迫的な言動（自己または関係者が反社会的勢力である旨を伝える行為も含みます）を用いる行為</p>
<p>・反社会的勢力等への利益供与</p>
<p>・他の会員その他第三者の個人情報、プライバシー情報を収集、公開、提供する行為（取引を履行するために必要な行為を除きます）</p>
<p>・取得した他の会員の個人情報やプライバシー情報を、取引を履行する目的以外の目的で利用する行為</p>
<p>・当社のサーバーやネットワークシステムに支障を与える行為</p>
<p>・ホンダナの不具合を意図的に利用する行為</p>
<p>・技術的手段を利用してホンダナを不正に操作する行為</p>
<p>・法的な責任を超えた過大な要求を行う行為</p>
<p>・上記各号に記載の禁止行為に該当するおそれがあると当社が判断した行為</p>
<p>・上記各号に記載の禁止行為を直接または間接に惹起し、または容易にする行為</p>
<br><br>
<h3>【ホンダナで出品が禁止されているものについて】</h3>
<p>・登録した本の類似品、偽造品、レプリカ商品</p>
<p>・第三者の知的財産権を侵害しているもの</p>
<p>・法令に違反している商品</p>
<p>・公序良俗に反するもの</p>
<p>・金券・チケットなど</p>
<p>・その他の禁止されている商品</p>