<% @title = "サービスにかける思い" %>
<% @keywords = "秋田市,イベント,ほんだな,本棚,本の交換会" %>
<% @description = "サービスにかける思い" %>


<h2 class="large">私の好きだった1冊が、誰かの特別な1冊になる。</h2>

<div id="vision">

<p class="visions">「本の交換プラットフォーム ホンダナ」は
本を会員同士で交換できるサービス。</p>
<p class="visions_n">ウェブサービス「ホンダナ」を主体に<br><%= link_to "時々実際のイベント「Books, go round！」も開催しています。", "/information/event", class: 'visiona' %></p>


<!-- <h3 class="middle">ストックをフローへ</h3> -->
<p class="visions">現在、日本にはマーケット（古書店やネット販売など）に出ていない<br>
各家庭に眠ったままになっている本が約42億冊あります。</p>
<p class="visions">この使われていない「ストックとしての本」を<br>
交換できる状態の「フローとしての本」にすることで<br>
新たに膨大な冊数を揃えたクラウドの書店（マーケット）が現れるのです！</p>
<p class="visions_n">ワクワクしませんか？
</p>

<!-- <h3 class="middle">コミュニケーションも誘発</h3> -->
<p class="visions_n">そして、本の売買だけでは生まれなかった「人と人との交流」が<br>
交換というクラシックなやり方では実現できるのです。<br>
沢山の本を循環させるほど、交流と知識が増えていくという素敵なサイクル。<br>
僕らはそんなシーンを見たいのです。</p>


<p class="visions">ホンダナでは、多くの人達に新しい読書＆コミュニティを実現すべく<br>
秋田から世界に向けて展開していきます。<br>
ご期待ください！
</p>
<%= image_tag 'vision_logo.gif', alt: 'ホンダナ',class:'vision_logo' %>
</div>
<br class="floatclear">

<hr>
<p class="vision_m">出版社・メディア・マスコミ関係者様へ<br>
  取材・出演依頼は、下記までご連絡お願いします。<br>
  広報担当/Books, go round 実行委員長 : 門脇 明日美<br>
  <%= mail_to 'asumi.kadowaki1018@gmail.com', nil,
      :subject => '取材・出演依頼'  %></p>
</div>
