<% @title = "ホンダナにかける思い" %>
<% @keywords = "秋田市,イベント,ほんだな,本棚,本の交換会" %>
<% @description = "ホンダナにかける思い" %>


<h2 class="service_copy">私の好きだった1冊が、誰かの特別な1冊になる。</h2>
<div id="visionbox">
<div id="vision">

<h3 class="middle">ホンダナとは</h3>
<p class="visions_n">「ホンダナ」は誰かと本を交換し、そして未知の本に出会う為のプラットフォーム。<br>

持っている本を売るなど換金しなくても、１冊を新たな１冊に交換できる素敵なシステムです。<br>

ちょっと長いですが、僕らの思いにちょっとだけ付き合ってもらえませんか？</p>



<%= image_tag 'cloud.gif', alt: 'ホンダナ',class:'cloud' %>
<h3 class="middle">雲の上の大きな本屋さん？</h3>
<p class="visions">あなたの家にも、なんとなく眠っているだけの本が沢山ありますよね？<br>

実は売り場（古書店やネット販売など）に出ていない<br>

眠ったままになっている本が日本中で約４２億冊あります。（ホンダナ調べ）<br>

その数、国立国会図書館の約１０倍！<br>

そんな膨大な眠れる本に目を覚ましてもらって活躍してもらえたらどうなる？<br>

そう、皆さんの手元にある本たちを登録してもらうだけで<br>

ホンダナは大きな雲の上の書店になるのです！<br>

沢山の蔵書からもう選び放題！？<br>

なんだかワクワクしてきたでしょ？</p><br>



<h3 class="middle">アンティーク産まれのホンダナ</h3>
<p class="visions">ホンダナというアイデアが産まれた理由。<br>

それは僕らがアンティークの仕事をしてきたからです。<br>

当たり前ですがアンティークって昔作られたもの。<br>

誰かが昔それを作らなければ、現在それは存在しません。<br>

至る所で眠るアンティークを日の当たる場所に連れてきて、気に入った人の元へ送り届ける。<br>

そんな仕事の中からホンダナのアイデアは産まれました。</p><br>


<h3 class="middle">ストックからフローへ</h3>
<p class="visions">本だって一緒。<br>

全国に眠っている膨大な本のストックだって眠ったままじゃもったいない。<br>

先人たちの思いや経験が一杯に詰まった書物もこの世界を飛び回るべき ＆<br>

誰かの元でもうひと花咲かすべき。<br>

この楽しそうに自由に飛び回る本たちの姿を実現したいと考えました。</p><br>

<h3 class="middle">ホンダナの約束</h3>
<p class="visions">じゃ、ホンダナでいうところのアンティークを昔作った人って？<br>

そう、本を書いた人や出版した方々です。<br>

彼らの努力があってこそ、この素敵な本たちは存在します。<br>

彼らにこれからも良い作品を世に出して頂くことはとても大事なことだと考えます。<br>

良い本が書かれなければ言語の文化が衰退してしまうし、セカンダリーマーケットだって<br>成り立たない。<br>

僕らはそう考え、できるだけ早い段階で収益の一部を著者や出版社の方々へ還元できればと<br>考えています。</p><br>

<h3 class="middle">最後に</h3>
<p class="visions">本当に僕らは本が好きです。<br>

愛すること、孤独、ちょっとした心の機微、お洒落な言い回しだって本から学びました。<br>

こんな素晴らしいコンテンツを僕らと一緒に盛り上げていきませんか？<br>

家中を見渡してみて、寝ぼけ眼の本たちをここに連れて来て下さい。<br>

素敵な出会いが沢山産まれますように！</p><br>


  <p class="vision_logo">スタッフ一同</p><%= image_tag 'vision_logo.gif', alt: 'ホンダナ',class:'vision_logo',width:'120px'%>
<br class="floatclear">
</div>

</div>




  <p class="vision_t">〜出版社・メディア・マスコミ関係者様へ〜</p>
  <p class="vision_m">取材・出演依頼は、下記までご連絡お願いします。<br>
  <%= link_to "お問い合わせフォーム", "/information/inquiry"  %></p>
</div>
