<% @title = "ビジョン" %>
<% @keywords = "秋田市,イベント,ほんだな,本棚,本の交換会" %>
<% @description = "ビジョン" %>
<div id="vision">
<h1>VISION</h1>
<h2 class="large">私の好きだった1冊が、誰かの特別な1冊になる。</h2>

<p class="visions">「本の交換プラットフォーム ホンダナ」は<br>
本を会員同士で交換できるサービスです。<br>
ウェブサービス「ホンダナ」を主体に、<%= link_to "時々実際のイベント「Books, go round！」も開催しております。", "/information/event", class: 'visiona' %></p>


<h3 class="middle">ストックをフローへ</h3>
<p class="visions">現在、日本にはマーケット（古書店やネット販売など）に出ていない、<br>
各家庭に眠ったままになっている本が約42億冊あります。<br>
この使われていない「ストックとしての本」を、<br>
交換できる状態の「フローとしての本」にすることで<br>
新たに膨大な冊数を揃えたクラウドの書店（マーケット）が現れるのです！<br>
ワクワクしませんか？
</p>

<h3 class="middle">コミュニケーションも誘発</h3>
<p class="visions">また、単純な本の売買では生まれなかった「人と人との交流」が<br>
交換という一見古いやり方では実現できます。<br>
沢山の本を循環させるほど、交流と知識が増えていくという素敵なサイクルが。</p>


<p class="visions">私たちホンダナでは、多くの人達に新しい読書＆コミュニティを実現すべく、<br>
秋田から世界に向けて展開していきます。<br>
ご期待ください！
</p>

<hr>
  <p>出版社・メディア・マスコミ関係者様へ</p>
  <p>取材・出演依頼は、下記までご連絡お願いします。<br>
  広報担当/Books, go round 実行委員長 : 門脇 明日美</p>
  <%= mail_to 'asumi.kadowaki1018@gmail.com', nil,
      :subject => '取材・出演依頼'  %>
</div>
