<% @title = "ビジョン" %>
<% @keywords = "秋田市,イベント,ほんだな,本棚,本の交換会" %>
<% @description = "ビジョン" %>
<div id="vision">
<h1>VISION</h1>
<h2 class="large">読み終わった1冊を、新たな価値ある1冊にする。</h2>

<p class="visions">「本の交換プラットフォーム ホンダナ」は<br>
本を必要としている人の元へ届けるために生まれた<br>
読み終わった本を会員同士で交換できるサービスです。<br>
現在、日本には約41億冊の「読み終わった本」が眠っており<br>
全国規模で活発に交換が行われています。</p>

<p class="visions">ホンダナではビジョンを達成すべく<br>
WEBでの交換をリアルな場でも体験していただきたいと考え、<br>
<%= link_to "本の交換イベントを定期開催しています。", "/information/event", class: 'visiona' %></p>

<p class="visions">本を世の中に循環させることで<br>
新たな発見が生まれ、<br>
多くの知的好奇心が育まれると信じています。</p>


<p class="visions">より多くの人達に読書の楽しさを知ってもらうために<br>
秋田から世界に向けて展開していきます。</p>
<hr>
  <p>出版社・メディア・マスコミ関係者様へ</p>
  <p>取材・出演依頼は、下記までご連絡お願いします。<br>
  広報担当/Books, go round 実行委員長 : 門脇 明日美</p>
  <%= mail_to 'asumi.kadowaki1018@gmail.com', nil,
      :subject => '取材・出演依頼'  %>
</div>
