<% if @books.blank? %>
	<p>本が見つかりませんでした。</p>
<% else %>
	<% @books.each_with_index do |book, index| %>
		<% if index % 5 == 0 %>
			<div class="booklist_wide">
		<% end %>
				<div>
					<%= link_to (image_tag "/books/show_image/" + book.isbn, alt: book.title), book  %><br>
					<%= link_to book.title, book  %><br>
					<span class="small"><%= book.author %></span>
				</div>
		<% if index % 5 == 4 || index + 1 == @books.length %>
			</div>
		<% end %>
	<% end %>
<% end %>
