<% @title = "トップページ" %>
<h1>お知らせ</h1>
<% if @notices.blank? %>
	<p>お知らせはありません。</p>
<% else %>
	<% @notices.each do |notice| %>
		<p>
			<time><%= format_datetime notice.notice_date, :date %></time>
			<span><%= notice.content %></span>
		</p>
	<% end %>
<% end %>

<h1>新着の本</h1>
<% if @books.blank? %>
	<p>ホンダナに本が登録されていません。</p>
<% else %>
	<% @books.each_with_index do |book, index| %>
		<% if index % 5 == 0 %>
			<div class="booklist_wide">
		<% end %>
				<div>
					<%= image_tag "/books/show_image/" + book.isbn, alt: book.title %>
				</div>
		<% if index % 5 == 4 || index + 1 == @books.length %>
			</div>
		<% end %>
	<% end %>
<% end %>


<%= link_to 'New Book', new_book_path %>
