<% @title = "トップページ" %>
<h1>お知らせ</h1>
<% if @notices.blank? %>
	<p>お知らせはありません。</p>
<% else %>
	<% @notices.each do |notice| %>
		<p>
			<time><%= format_datetime notice.notice_date, :date %></time>
			<span><%= notice.content %></span>
		</p>
	<% end %>
<% end %>

<h1>新着の本</h1>
<%= render 'list' %>
