@CHARSET "utf-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	font-family: "メイリオ", sans-serif;
}

body {
	width: 960px;
	margin: 0 auto;
	background-image: url("/images/paper.png");
}

nav {
	width: 960px;
	height: 100px;
}

nav h1 {
	float: left;
	width: 260px;
	height: 100px;
}

#navigation {
	float: left;
	margin: 0 auto;
}

#navigation a {
	float: left;
	width: 200px;
	height: 30px;
	margin: 7px 0;
}

#welcome {
	float: right;
	width: 280px;
	height: 40px;
	margin: 5px 10px;
	text-align: right;
}

#menu {
	clear: both;
}

section {
	clear: both;
}
