<h1>会員登録完了</h1><% @title = "会員登録完了" %>

<p id="notice">会員登録完了しました。<br>
続いてあなたの本を登録してブクを手に入れましょう。</p>
<p><%= link_to "本の検索ページへ", "/books/search_edit" %></p><br>

<p><%= link_to "マイページへ", "/collections/index" %><br><%= link_to "プロフィール", "/members/show"  %></p>
