<h1>退会</h1><% @title = "退会" %>

<% if @notice.present? %>
	<p><%= @notice %></p>
	<p><%= link_to "交換一覧", "/collections/list" %></p>
<% else %>
	<p>退会についてのルールの説明(ブクの清算等)</p>
	<p>退会についてのデメリットの説明(退会することに意味などないこと等)</p>
	<p>以上のことを踏まえた上で、それでも本当に退会してよろしいですか？</p>
	<p>
	<%= link_to "はい", "destroy", data: { confirm: "本当に退会してよろしいですか？" } %>
	<%= link_to "退会キャンセル", "/members/show" %>
	</p>
<% end %>
